* {
	padding: 0;
	margin: 0;
}
html{
	font-family: 'Oswald', sans-serif;
	overflow-x: hidden;
}

/*Navbar Part*/
.navbar-logo{
	color:green;
	text-decoration: none;
	display: flex;
	align-items: center;
	height: 80px;
	width: 80px;
}
.navbar-brand{
	display: flex;
	align-items: center;
}

/*Home Page Part*/
.home-image{
	height: 100vh;
	width: 100vw;
	position: relative;
	background-size: cover;
}
.image-text{
	position: absolute;
	color:white;
	font-size: 3em;
	top: 90px;
	right: 20px;
	background: black;
	opacity: 0.6;
	padding: 10px;
	border-radius: 20px;
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	transition: all 2s ease;
}

/*Profile*/

.selector-image{
    box-shadow: 0px 3px 5px gray;
}

.selector-image > img{
   width: 121px;
   height: 65px;
}

.selector-image:hover{
    background-color: #A2D032;
    cursor: pointer;
}
.select-image-active{
    background-color: #A2D032; 
}


.header-gallery{
	font-family: 'Oswald', sans-serif;

}
.header-gallery h1{
	text-align: center;
	padding: 20px;
	font-size: 50px;
    background-color: #f4f4f4;
    border-bottom: 1px solid black;
}

/*Gallery*/
.header-gallery{
	font-family: 'Oswald', sans-serif;

}
.header-gallery h1{
	text-align: center;
	padding: 20px;
	font-size: 50px;
	background-color: #f4f4f4;
}

.gallery-images{
	margin: 100px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.img-gallery{
	width: 100px;
	height: 100px;
	margin:10px;
}

.gallery-bullet{
	display: flex;
}
.gallery-bullet > li{
	margin: 10px;
	color: gray;
}
.gallery-bullet > li:hover{
	color:black;
	cursor: pointer;
}

.active-bullet {
	color: black !important;
}

/* Contact */
.contact{
	/*background: url("../images/background123.jpg");*/
	padding-top: 50px; 
}
.form-container{
	width: 500px;
	background-color: black;
	opacity: 0.9;
	margin: 0px auto;
	padding: 30px;
}
.form-container label {
	color: white;
	margin: 5px;
	font-size: 18px;
}

.form-container input {
	width: 100%;
	border-radius: 10px;
	height: 50px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background-color: white;
	font-size: 20px;
	
}
.form-container textarea{
	width: 100%;
	height: 300px;
	resize: none;
	border-radius: 10px;
	font-size: 20px;
	text-align: center;
}
.form-container .form-group{
	margin: 20px;
}

.form-container input[type="submit"]{
	background-color: #004080;
	border: none;
	color:white;
	cursor: pointer;
}
.form-container input[type="submit"]:hover{
	background-color: #008000;
}

/* About Us */

.about{

}

#first-paragraph{
	width: 50vh;
	margin: 50px auto;
}

#first-paragraph p{
	text-align: justify;
	font-size: 20px;
}
.breadcrumb1{
	background: black;
	padding: 20px 0;
	color: white;
	position: sticky;
	top: 0px;
	width: 100vw;
	opacity: 0.9;
	text-align: center;
	z-index:5000;
}

.breadcrumb1 a{
	color: white;
	font-size: 17px;
	text-decoration: none;
}

.row{
	display: flex;
	align-items: center;
}

.row > .col-2 {
	width: 50%;
	padding: 50px;
}

.row > .col-2 p{
	text-align: justify;
	font-size: 20px;

}
.m-title{
	text-align: center;
	background-color: green;
	color: white;
	letter-spacing: 2px;
	border-radius: 25px;
	margin-bottom: 50px;
	padding: 25px;
}
.m-title h1{
	font-size: 40px;
}

.m-description li{
	list-style-type: none;
	padding: 10px;
	font-size: 20px;
	border: 1px solid gray;
	margin: 10px;
	text-align: center;
	width: auto;

}
/* Footer */
.footer-icon li{
	padding: 15px;
	list-style-type: none;
}
.footer-icon li a{
	list-style-type: none;
	color: white;
}
.footer-icon li a:hover{
	color:gray;
}
.footer{
	background-color: black;
	color: white;
	display: flex;
}
.footer .my-portfolio{
	color:white;
	text-decoration: none;
	margin-right: auto;  
}
.footer .my-portfolio:hover{
	color: gray;
}


/* Media Query */

 @media only screen and (max-width: 768px){
	.navbar-brand{
		align-items: center;
	}
	.navbar-brand > h1 {
		font-size: 90%;
		margin-bottom: 0px !important;
	}
	.nav-link {
		padding: 0 8px !important;
	}
	.navbar-logo{
		height:50px;
		width: 50px;
	}
}
@media only screen and (max-width: 360px){
	.footer h3{
		font-size: 10px;
	}
	.footer{
		display: flex;
		align-items: center;
	}
}